@font-face {
    font-family: 'Jacquard';
    src: url('fonts/Jacquard/Jacquard12-Regular.ttf'),
}

@font-face {
    font-family: 'BigBlueTerm';
    src: url('fonts/BigBlueTerm/BigBlueTermPlusNerdFontMono-Regular.ttf'),
}

body {
    font-family: BigBlueTerm;
    background-color: #292724;
    color: #ddcba6;
}

h1 {
    font-family: BigBlueTerm;
    font-size: 80px;
}

h1 a {
    color: #ddcba6;
    text-decoration: none;
}

h1 a:hover {
    color: #ffb380;
}

h2 {
    font-family: BigBlueTerm;
    font-size: 40px;
}

.big-box {
    padding: 50px 80px;
    margin: auto;
}

.icon {
    width: 100px;
    padding: 8px;
}

.jacquard a {
    font-family: Jacquard;
    font-size: 180px;
    text-decoration: none;
    color: #ffb380;
    border: solid 10px #ddcba6;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 24px;
}
