@font-face {
    font-family: 'Jacquard12';
    src: url('fonts/Jacquard_12/Jacquard12-Regular.ttf'),
}

@font-face {
    font-family: 'BigBlueTerm';
    src: url('fonts/BigBlueTerm/BigBlueTermPlusNerdFontMono-Regular.ttf'),
}

body {
    font-family: BigBlueTerm;
    background-color: #292724;
    color: #ddcba6;
}

h1 {
    font-family: BigBlueTerm;
    font-size: 80px;
}

h2 {
    font-family: BigBlueTerm;
    font-size: 40px;
}

.big-box {
    padding: 50px 80px;
    margin: auto;
}

.icon {
    width: 100px;
    padding: 8px;
}

.jacquard12 a {
    font-family: Jacquard12;
    font-size: 180px;
    text-decoration: none;
    color: #ffb380;
    border: solid 10px #ddcba6;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 24px;
}
