body {
    font-family: sans-serif;
    background-color: #241f31;
    color: #FFFFFF;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.big-box {
    padding: 50px 80px;
    margin: auto;
}

.icon {
    width: 100px;
    padding: 8px;
}
